image: otaviog/ubuntu-xenial-rflow

before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip3 install .

cache:
  paths:
    - venv

stages:
  - test
  - deploy

test:
  stage: test
  script:
    - make -f unittest.mk all

pages:
  stage: deploy
  script:
    - pip3 install -r requirements-dev.txt
    - make -f tasks.mk doc-create
    - cp -r doc/build/html public
    - touch doc/tutorials/wordcounter/tutorial.ipynb
    - make -C doc/tutorials/wordcounter tutorial.html
    - mkdir public/wordcounter
    - cp doc/tutorials/wordcounter/tutorial.html public/wordcounter
    - cp doc/tutorials/wordcounter/big-text.txt public/wordcounter
    - cp doc/tutorials/wordcounter/workflow.py public/wordcounter
  artifacts:
    paths:
      - public
  only:
    - master
